@import "base.css";
@import "logo.css";
@import "userFormStyle.css";

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.column {
    height: inherit;
    display: grid;
    justify-items: center;
    align-content: center;
}

.c1 {
    float: left;
    width: 50%;
    background-color: #fbfbfb;
}

.c2 {
    flex: 1;
    float: right;
}

svg {
    width: 72px;
    height: 72px;
    padding-right: 5px;
}

span {
    display: flex;
}

button {
    background-color: #1db554;
}

button:hover {
    background-color: #1caa4f;
}

a {
    color: black;
}

@media (prefers-color-scheme: dark) {
 a {
     color: white;
 }
    .c1 {
        background-color: black;
    }

    .c2 {
        background-color: #2e2d2d;
    }

}