@import "logo.css";
@import "userAvatar.css";
@import "base.css";
@import "font.css";
@import "sideNotification.css";
@import "appTitle.css";
@import "redirectLinks.css";
@import "profileBody.css";
@import "userAvatarProfileView.css";

.container{
    display: flex;
    flex-direction: column;
}

.userDetails {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: start;
    padding: 2rem;
    border-radius: 25px;
    background-color: #dad9d9;
}

@media (prefers-color-scheme: dark) {
    .userDetails {
        background-color: #2e2d2d;
    }
}
