@import "logo.css";
@import "trackerLogo.css";
@import "font.css";

:root {
    font-family: 'jetbrainsMono-SemiBold', monospace;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.app-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-title-id:hover {
    color: #0C6FFF;
}

h1 {
    font-size: 44px;
}

#editFormDiv {
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    width: 80%;
    margin-left: 10%;
}

div{
    width: 100%;
}

li{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

label {
    width: 40%;
    margin-left: 10%;
    font-weight: bold;
    margin-right: 8px;
}

input {
    flex: 1;
    padding: 15px;
    background-color: #f1eeee;
    border:unset;
    border-radius: 10px;
    font-size: large;
    margin-right: 10%;
}

input:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
}

button {
    border: unset;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    background-color: #0C6FFF;
}

button:hover {
    background-color: #0C6FFF;
}

@media (prefers-color-scheme: dark) {
    input {
        background: #3a3742;
        color: white;
    }

    body{
        background: black;
        color: white;
    }

    h1{
        color: white;
    }

    input:focus {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
    }

    input[type="datetime-local"] {
        color-scheme: dark;
    }

}
