#userAvatarId {
    padding-left: 5px;
    width: 50px;
    height: 50px;
}

.userAvatar {
    fill: black;
}

.user:hover .userAvatar {
    fill: #0C6FFF;
}

@media (prefers-color-scheme: dark) {
    .userAvatar {
        fill: white;
    }

}