form {
    display: block;
    justify-content: center;
    font-size: 24px;
    width: 600px;
}

li{
    display: flex;
    width: 500px;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 250px;
    font-weight: bold;
    margin-right: 8px;
}

input {
    flex: 1;
    padding: 15px;
    background-color: #f1eeee;
    border:unset;
    border-radius: 10px;
    font-size: large;
}

input:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
}

button {
    border: unset;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 50px;
    background-color: #0C6FFF;
}

button:hover {
    background-color: #0C6FFF;
}

@media (prefers-color-scheme: dark) {
    input:focus {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
    }
}