<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <resource-ref>
        <description>Database Connection</description>
        <res-ref-name>db/tasktracker</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Task Tracker</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>in.project.tasktracker.Filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/newTask</url-pattern>
        <url-pattern>/updateTaskStatus</url-pattern>
        <url-pattern>/deleteTask</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/upload-profile-pic</url-pattern>
        <url-pattern>/delete-profile-pic</url-pattern>
        <url-pattern>/updateProfile</url-pattern>
        <url-pattern>/edit-profile</url-pattern>
        <url-pattern>/deleteAccount</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PasswordFilter</filter-name>
        <filter-class>in.project.tasktracker.Filters.PasswordFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PasswordFilter</filter-name>
        <url-pattern>/signup</url-pattern>
        <url-pattern>/updateProfile</url-pattern>
    </filter-mapping>


</web-app>